header {
  background: #FFFFFF;
  border: 1px solid #DBDCDD;
  height: 53.93px;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

nav {
  width: 1128px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0;

}

li {
  list-style: none;
}

nav .left img[alt="linkedin"] {
  height: 33px;
}

nav .right {
  gap: 2rem;
}


ul.right li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

ul.right li small {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */
  color: #666666;
}

ul.right li:nth-child(1) img {
  width: 29.1px;
}

ul.right li:nth-child(2) img {
  width: 20.14px;
}

ul.right li:nth-child(3) img {
  width: 20.01px;
}

ul.right li:nth-child(4) img {
  width: 22.29px;
}

ul.right li:nth-child(5) img {
  width: 19.99px;
}

ul.right li:nth-child(6) img[alt="profile"] {
  width: 24.52px;
}

ul.right li:nth-child(7) img[alt="work"] {
  width: 18.02px;
}


.box-search {
  background: #EEF3F8;
  border-radius: 4px;
  width: 279.72px;
  height: 33.97px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: .5rem;
  padding-left: 1rem;
}

.box-search input {
  background: #EEF3F8;
  height: 33.97px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #5F6163;
}