<header>
  <nav>
    <ul class="left">
      <li>
        <img src="assets/images/Logo.png" alt="linkedin">
      </li>
      <li>
        <div class="box-search">
          <img src="assets/images/Union.png" alt="Search">
          <input type="text" placeholder="Search">
        </div>
      </li>
    </ul>
    <ul class="right">
      <li>
        <img src="assets/images/home.png" alt="home">
        <small>Home</small>
      </li>
      <li>
        <img src="assets/images/net.png" alt="net">
        <small>Net</small>
      </li>
      <li>
        <img src=" assets/images/jobs.png" alt="jobs">
        <small>Jobs</small>
      </li>
      <li>
        <img src="assets/images/messages.png" alt="messages">
        <small>Messages</small>
      </li>
      <li>
        <img src=" assets/images/notifications.png" alt="notifications">
        <small>Notifications</small>
      </li>
      <li>
        <img src="assets/images/profile.png" alt="profile">
        <small>Profile <img src="assets/images/Vector 26.png" alt=""></small>
      </li>
      <li>
        <img src="assets/images/work.png" alt="work">
        <small>For work <img src="assets/images/Vector 26.png" alt=""></small>
      </li>
    </ul>
  </nav>
</header>