<div class="card-to-add-your-feed">
  <div class="text">
    <span>Add to your feed</span>
    <img src="assets/images/info.png" alt="">
  </div>
  <div class="all-add-feeds">
    <div class="feed">
      <img src="assets/images/marie.png" alt="">
      <div class="info-feed">
        <span>Marie Clark</span>
        <small>User information</small>
        <p>Lorem ipsum dolor sit amet</p>
        <button>
          <img src="assets/images/+.png" alt="add-to-your-feed">
          <span>track</span>
        </button>
      </div>
    </div>
    <div class="feed">
      <img src="assets/images/markTini.png" alt="">
      <div class="info-feed">
        <span>Mark Tini</span>
        <p>Lorem ipsum dolor sit amet</p>
        <button>
          <img src="assets/images/+.png" alt="add-to-your-feed">
          <span>track</span>
        </button>
      </div>
    </div>
    <div class="feed">
      <img src="assets/images/zander.png" alt="">
      <div class="info-feed">
        <span>Zander Kutsko</span>
        <p>Lorem ipsum dolor sit amet</p>
        <button>
          <img src="assets/images/+.png" alt="add-to-your-feed">
          <span>track</span>
        </button>
      </div>
    </div>
    <div class="see-all-recommendation">
      <span>See all recommendation</span>
      <img src="assets/images/arrowRight.png" alt="">
    </div>
  </div>
</div>

<div class="column-right">

  <div class="ads">
    <img src="assets/images/ads.png" alt="ads">
  </div>
  <div class="footer-info">
    <ul>
      <li><a href="#">General information</a></li>
      <ul>
        <li><a href="#">Special abilities</a></li>
        <li><a href="#">Reference</a></li>
      </ul>
      <ul>
        <li><a href="#">Terms</a> <img src="assets/images/Vector 28.png" alt=""></li>
        <li><a href="#">Advertinsing Preferences</a></li>
      </ul>
      <li><a href="#">Advertinsing Bussiness Services</a> <img src="assets/images/Vector 28.png" alt=""></li>
      <li><a href="#">Download LinkedIn App Yet</a></li>
    </ul>
    <ul>
      <li>
        <img src="assets/images/linkedin-foo.png" alt="">
        <a href="#">Linkedin Corporation © 2023</a>
      </li>
    </ul>
  </div>
</div>