<div class="new-post">
  <div class="add-post">
    <img src="assets/images/add-post.png" alt="">
    <input type="button" data-bs-toggle="modal" class="text-start" data-bs-target="#exampleModal"
      value="New publication">
  </div>

  <div class="options">
    <ul>
      <li>
        <img src="assets/images/post-img.png" alt="">
        <small>A photo</small>
      </li>
      <li>
        <img src="assets/images/Exclude.png" alt="">
        <small>Video</small>
      </li>
      <li>
        <img src="assets/images/calendar.png" alt="">
        <small>Event</small>
      </li>
      <li>
        <img src="assets/images/article.png" alt="">
        <small>To write an article</small>
      </li>
    </ul>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New publication</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="what do you want to talk about?"
            rows="3" [(ngModel)]="publicacion"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-modal-button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="publicar()">Post</button>
      </div>
    </div>
  </div>
</div>



<div class="news-feeds">
  <div class="order">
    <hr>
    <span>Sort:</span>
    <select [(ngModel)]="ordenPublicaciones" (ngModelChange)="ordenarPublicaciones()">
      <option value="recents">Recents</option>
      <option value="lastest">Lastest</option>
    </select>

  </div>

  <div class="all-feeds">


    <div *ngIf="loading" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>


    <div class="card" *ngFor="let post of posts; let i = index">
      <div class="d-flex justify-content-between w-100 px-4 mx-auto">
        <div class="d-flex align-items-center gap-2 mt-1">
          <img src="assets/images/card-profile.png" alt="">
          <div class="d-flex flex-column">
            <p class="m-0 fs-6">USERNAME</p>
            <small class="opacity-75" style="font-size: 10px;">12.325 followers</small>
            <small>{{ post.tiempoTranscurrido }}</small>
          </div>
        </div>
        <div class="mt-3 d-flex align-items-start ">
          <img class="btn" src="assets/images/Frame.png" alt="">
          <button type="button" class="btn-close" (click)="eliminarPublicacion(i)" aria-label="Close"></button>
        </div>
      </div>
      <div class="card-body">
        <small class="text-primary fw-bold">#newpublication</small>
        <p class="card-text fs-6 opacity-75">{{ post.text }}</p>
      </div>
      <hr>
      <div class="card-option">
        <img src="assets/images/Vector.png" alt="">
        <img src="assets/images/comments.png" alt="">
        <img src="assets/images/share.png" alt="">
        <img src="assets/images/send.png" alt="">
      </div>
    </div>


    <div class="card-feed">
      <div class="card-header">
        <div class="left">
          <img src="assets/images/brand.png" alt="">
          <div class="info">
            <p>Your Brand</p>
            <small>26.548 followers</small>
            <span>Promoted</span>
          </div>
        </div>
        <div class="right">
          <img src="assets/images/Frame.png" alt="">
        </div>
      </div>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscings...<a href="#">See more</a></p>
        <small>See translation</small>
      </div>
      <div class="card-img">
        <img src="assets/images/feed-img.png" alt="">
      </div>
      <div class="card-react">
        <div class="likes">
          <img src="assets/images/likes.png" alt="">
          <span>1025</span>
        </div>
        <div class="comments-shares">
          <span>753 comments</span>
          <span>234 shares</span>
        </div>
      </div>
      <hr>
      <div class="card-option">
        <img src="assets/images/Vector.png" alt="">
        <img src="assets/images/comments.png" alt="">
        <img src="assets/images/share.png" alt="">
        <img src="assets/images/send.png" alt="">
      </div>
    </div>
    <div class="card-feed">
      <div class="card-header">
        <div class="left">
          <img src="assets/images/brand.png" alt="">
          <div class="info">
            <p>Your Brand</p>
            <small>26.548 followers</small>
            <span>Promoted</span>
          </div>
        </div>
        <div class="right">
          <img src="assets/images/Frame.png" alt="">
        </div>
      </div>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscings...<a href="#">See more</a></p>
        <small>See translation</small>
      </div>
      <div class="card-img">
        <img src="assets/images/feed-img.png" alt="">
      </div>
      <div class="card-react">
        <div class="likes">
          <img src="assets/images/likes.png" alt="">
          <span>1025</span>
        </div>
        <div class="comments-shares">
          <span>753 comments</span>
          <span>234 shares</span>
        </div>
      </div>
      <hr>
      <div class="card-option">
        <img src="assets/images/Vector.png" alt="">
        <img src="assets/images/comments.png" alt="">
        <img src="assets/images/share.png" alt="">
        <img src="assets/images/send.png" alt="">
      </div>
    </div>
    <div class="card-feed">
      <div class="card-header">
        <div class="left">
          <img src="assets/images/brand.png" alt="">
          <div class="info">
            <p>Your Brand</p>
            <small>26.548 followers</small>
            <span>Promoted</span>
          </div>
        </div>
        <div class="right">
          <img src="assets/images/Frame.png" alt="">
        </div>
      </div>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscings...<a href="#">See more</a></p>
        <small>See translation</small>
      </div>
      <div class="card-img">
        <img src="assets/images/feed-img.png" alt="">
      </div>
      <div class="card-react">
        <div class="likes">
          <img src="assets/images/likes.png" alt="">
          <span>1025</span>
        </div>
        <div class="comments-shares">
          <span>753 comments</span>
          <span>234 shares</span>
        </div>
      </div>
      <hr>
      <div class="card-option">
        <img src="assets/images/Vector.png" alt="">
        <img src="assets/images/comments.png" alt="">
        <img src="assets/images/share.png" alt="">
        <img src="assets/images/send.png" alt="">
      </div>
    </div>
    <div class="card-feed">
      <div class="card-header">
        <div class="left">
          <img src="assets/images/brand.png" alt="">
          <div class="info">
            <p>Your Brand</p>
            <small>26.548 followers</small>
            <span>Promoted</span>
          </div>
        </div>
        <div class="right">
          <img src="assets/images/Frame.png" alt="">
        </div>
      </div>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscings...<a href="#">See more</a></p>
        <small>See translation</small>
      </div>
      <div class="card-img">
        <img src="assets/images/feed-img.png" alt="">
      </div>
      <div class="card-react">
        <div class="likes">
          <img src="assets/images/likes.png" alt="">
          <span>1025</span>
        </div>
        <div class="comments-shares">
          <span>753 comments</span>
          <span>234 shares</span>
        </div>
      </div>
      <hr>
      <div class="card-option">
        <img src="assets/images/Vector.png" alt="">
        <img src="assets/images/comments.png" alt="">
        <img src="assets/images/share.png" alt="">
        <img src="assets/images/send.png" alt="">
      </div>
    </div>
  </div>
</div>