<div class="new-post">
  <div class="add-post">
    <img src="assets/images/add-post.png" alt="">
    <input type="text" placeholder="New publication">
  </div>

  <div class="options">
    <ul>
      <li>
        <img src="assets/images/post-img.png" alt="">
        <small>A photo</small>
      </li>
      <li>
        <img src="assets/images/Exclude.png" alt="">
        <small>Video</small>
      </li>
      <li>
        <img src="assets/images/calendar.png" alt="">
        <small>Event</small>
      </li>
      <li>
        <img src="assets/images/article.png" alt="">
        <small>To write an article</small>
      </li>
    </ul>
  </div>
</div>

<div class="news-feeds">
  <div class="order">
    <hr>
    <span>Sort:</span>
    <select>
      <option value="recents">Recents</option>
      <option value="lastest">Lastest</option>
    </select>

  </div>

  <div class="all-feeds">
    <div class="card-feed">
      <div class="card-header">
        <div class="left">
          <img src="assets/images/brand.png" alt="">
          <div class="info">
            <p>Your Brand</p>
            <small>26.548 followers</small>
            <span>Promoted</span>
          </div>
        </div>
        <div class="right">
          <img src="assets/images/Frame.png" alt="">
        </div>
      </div>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscings...<a href="#">See more</a></p>
        <small>See translation</small>
      </div>
      <div class="card-img">
        <img src="assets/images/feed-img.png" alt="">
      </div>
      <div class="card-react">
        <div class="likes">
          <img src="assets/images/likes.png" alt="">
          <span>1025</span>
        </div>
        <div class="comments-shares">
          <span>753 comments</span>
          <span>234 shares</span>
        </div>
      </div>
      <hr>
      <div class="card-option">
        <img src="assets/images/Vector.png" alt="">
        <img src="assets/images/comments.png" alt="">
        <img src="assets/images/share.png" alt="">
        <img src="assets/images/send.png" alt="">
      </div>
    </div>
    <div class="card-feed">
      <div class="card-header">
        <div class="left">
          <img src="assets/images/brand.png" alt="">
          <div class="info">
            <p>Your Brand</p>
            <small>26.548 followers</small>
            <span>Promoted</span>
          </div>
        </div>
        <div class="right">
          <img src="assets/images/Frame.png" alt="">
        </div>
      </div>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscings...<a href="#">See more</a></p>
        <small>See translation</small>
      </div>
      <div class="card-img">
        <img src="assets/images/feed-img.png" alt="">
      </div>
      <div class="card-react">
        <div class="likes">
          <img src="assets/images/likes.png" alt="">
          <span>1025</span>
        </div>
        <div class="comments-shares">
          <span>753 comments</span>
          <span>234 shares</span>
        </div>
      </div>
      <hr>
      <div class="card-option">
        <img src="assets/images/Vector.png" alt="">
        <img src="assets/images/comments.png" alt="">
        <img src="assets/images/share.png" alt="">
        <img src="assets/images/send.png" alt="">
      </div>
    </div>
    <div class="card-feed">
      <div class="card-header">
        <div class="left">
          <img src="assets/images/brand.png" alt="">
          <div class="info">
            <p>Your Brand</p>
            <small>26.548 followers</small>
            <span>Promoted</span>
          </div>
        </div>
        <div class="right">
          <img src="assets/images/Frame.png" alt="">
        </div>
      </div>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscings...<a href="#">See more</a></p>
        <small>See translation</small>
      </div>
      <div class="card-img">
        <img src="assets/images/feed-img.png" alt="">
      </div>
      <div class="card-react">
        <div class="likes">
          <img src="assets/images/likes.png" alt="">
          <span>1025</span>
        </div>
        <div class="comments-shares">
          <span>753 comments</span>
          <span>234 shares</span>
        </div>
      </div>
      <hr>
      <div class="card-option">
        <img src="assets/images/Vector.png" alt="">
        <img src="assets/images/comments.png" alt="">
        <img src="assets/images/share.png" alt="">
        <img src="assets/images/send.png" alt="">
      </div>
    </div>
    <div class="card-feed">
      <div class="card-header">
        <div class="left">
          <img src="assets/images/brand.png" alt="">
          <div class="info">
            <p>Your Brand</p>
            <small>26.548 followers</small>
            <span>Promoted</span>
          </div>
        </div>
        <div class="right">
          <img src="assets/images/Frame.png" alt="">
        </div>
      </div>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscings...<a href="#">See more</a></p>
        <small>See translation</small>
      </div>
      <div class="card-img">
        <img src="assets/images/feed-img.png" alt="">
      </div>
      <div class="card-react">
        <div class="likes">
          <img src="assets/images/likes.png" alt="">
          <span>1025</span>
        </div>
        <div class="comments-shares">
          <span>753 comments</span>
          <span>234 shares</span>
        </div>
      </div>
      <hr>
      <div class="card-option">
        <img src="assets/images/Vector.png" alt="">
        <img src="assets/images/comments.png" alt="">
        <img src="assets/images/share.png" alt="">
        <img src="assets/images/send.png" alt="">
      </div>
    </div>
  </div>
</div>