.card-profile {
  width: 224.98px;
  height: 392.65px;
  background: #FFFFFF;
  border: 1px solid #E0DFDC;
  border-radius: 6px;
  position: relative;
}

.card-bg {
  width: 224.98px;
  height: 58.09px;
  background: url(../../../assets/images/card-bg.png);
  background-position: center;
}

hr {
  width: 100%;
  height: 0px;
  border: 1px solid #EBEBEB;
}

.card-info {
  height: 120px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-info h4 {
  margin: 0;
}

.card-info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */
  text-align: center;

  color: #666666;
}

.card-contacts {
  width: 90%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-contacts span,
.card-saved span {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  color: #666666;
}

.card-contacts small {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  color: #0A66C2;
}

.card-contacts .text-top,
.card-contacts .text-bottom {
  display: flex;
  justify-content: space-between;
}

.card-contacts p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */
  color: #161722;
}

.card-access {
  width: 90%;
  margin: 0 auto;
}


.card-access p {
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  /* identical to box height, or 18px */
  color: #666666;
  margin: 0;
}

.card-access .premium {
  display: flex;
  align-items: center;
  gap: .5rem;
  height: 15px;
}

.card-access .premium a {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #161722;
}

.card-saved {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  gap: .5rem;
}

.img-profile {
  position: absolute;
  top: 20px;
  right: 35%;
}


.card-latest {
  width: 225px;
  height: 437px;
  left: 142.04px;
  top: 474.91px;
  background: #FFFFFF;
  border: 1px solid #E0DFDC;
  border-radius: 6px;
  margin-top: .5rem;
}

.sect {
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

.card-latest .title {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */


  color: #0A66C2;
}

.card-latest .title.active {
  color: #161722;
}

.content ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.content ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content ul li p {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */


  color: #666666;
}

li {
  list-style: none;
}

.show-more {
  padding-left: 30px;
}

.show-more span {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  color: #989898;
  margin-right: 5px;
}

.add {
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

.add .top {
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.sect-final p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  text-align: center;
  color: #666666;
}