<div class="card-profile">
  <div class="card-bg">
  </div>
  <div class="img-profile">
    <img src="assets/images/card-profile.png" alt="">
  </div>
  <div class="card-content">
    <div class="card-info">
      <h4>USERNAME</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <hr>
    <div class="card-contacts">
      <div class="text-top">
        <span>Contacts</span>
        <small>fitty</small>
      </div>
      <div class="text-center">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="text-bottom">
        <span>Profile views</span>
        <small>3</small>
      </div>
    </div>
    <hr>
    <div class="card-access">
      <p>Access to exclusive tools and statistics</p>
      <div class="premium">
        <img src="assets/images/premium.png" alt="">
        <a href="#">Try Premium for free</a>
      </div>
    </div>
    <hr>
    <div class="card-saved">
      <img src="assets/images/saved.png" alt="">
      <span>My elements</span>
    </div>
  </div>
</div>

<div class="column-left">
  <div class="card-latest">
    <div class="sect">
      <span class="title active">Latest</span>
      <div class="content">
        <ul>
          <li>
            <img src="assets/images/latest.png" alt="">
            <p>Lorem ipsum dolor sit</p>
          </li>
          <li>
            <img src="assets/images/latest.png" alt="">
            <p>Lorem ipsum dolor sit</p>
          </li>
          <li>
            <img src="assets/images/latest.png" alt="">
            <p>Lorem ipsum dolor sit</p>
          </li>
          <li>
            <img src="assets/images/latest.png" alt="">
            <p>Lorem ipsum dolor sit</p>
          </li>
          <li>
            <img src="assets/images/latest.png" alt="">
            <p>Lorem ipsum dolor sit</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="sect">
      <span class="title">Groups</span>
      <div class="content">
        <ul>
          <li>
            <img src="assets/images/latest.png" alt="">
            <p>Lorem ipsum dolor sit</p>
          </li>
          <li>
            <img src="assets/images/latest.png" alt="">
            <p>Lorem ipsum dolor sit</p>
          </li>
          <li>
            <img src="assets/images/latest.png" alt="">
            <p>Lorem ipsum dolor sit</p>
          </li>
        </ul>

        <div class="show-more">
          <span>show more</span>
          <img src="assets/images/arrow-down.png" alt="">
        </div>
      </div>
    </div>
    <div class="sect-final">
      <div class="add">
        <div class="top">
          <span class="title">Events</span>
          <img src="assets/images/add.png" alt="">
        </div>
        <span class="title">Tracked hashtags</span>
      </div>

      <hr>
      <p>Search for new</p>
    </div>
  </div>
</div>